@model IEnumerable<Ecommerce.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Gerenciamento dos Usuários</h2>

@Html.ActionLink("Cadastrar Usuário", "Create", "Usuario")
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
        </tr>
    }
</table>
