
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h1> Cadastrar Produto </h1>

    <div> 
        @using (Html.BeginForm())
        { 
   
            @Html.Label("Nome do Produto")
            @Html.TextBox("txtNome")<br>

            @Html.Label("Descriçao do Produto")
            @Html.TextBox("txtDescricao")<br>

            @Html.Label("Preço do Produto")
            @Html.TextBox("txtPreco")<br>

            @Html.Label("Categoria do Produto")
            @Html.TextBox("txtCategoria")<br>

            <input type="submit" value="Cadastrar" />
            }
        </div>
