
@{
    Layout = null;
    DateTime data = ViewBag.Data;
    List<Ecommerce.Models.Produto> produtos = ViewBag.Produtos;
    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Genciamento de Produtos</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    @Html.ActionLink("Ecomerce - UP", "Index", "Produto", null, new { @Class = "navbar-brand" })

</nav>
<body>
    <div id="Content" class="container" style="margin-top: 30px">
        <h1> Gerenciamento de Produtos</h1>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

        @*<a href="~/Views/Produto/Cadastrar"> Cadastrar Produto</a>*@
        @* Link em Mvc Razor*@
        @Html.ActionLink("Cadastrar Produto", "CadastrarProduto", "Produto")


        <table>
            <tr>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Preco</th>
                <th>Categoria</th>

            </tr>
            @foreach (Ecommerce.Models.Produto produtoCadastrado in produtos)
            {
                <tr>
                    <td>@produtoCadastrado.Nome</td>
                    <td>@produtoCadastrado.Descricao</td>
                    <td>@produtoCadastrado.Preco</td>
                    <td>@produtoCadastrado.Categoria</td>

                    <td>
                        @Html.ActionLink("Remover", "RemoverProduto", "Produto",
                       new { id = produtoCadastrado.ProdutoId }, null)
                    </td>
                    <td>
                        @Html.ActionLink("Alterar", "AlterarProduto", "Produto",
                       new { id = produtoCadastrado.ProdutoId }, null)
                    </td>

                </tr>
            }


        </table>


        @data
    </div>
    <hr style="margin-top: 30px"/>
    <footer style="text-align: center">

        <p>&copy; @DateTime.Now.Year - Desenvolvido por Carlos Alexandre Neppel</p>
    </footer>
</body>



</html>
