
@{
    Layout = "~/Views/Shared/_Layout.cshtml" ;
    DateTime data = ViewBag.Data;
    List<Ecommerce.Models.Produto> produtos = ViewBag.Produtos;
    }
    <div >
        <h1> Gerenciamento de Produtos</h1>
        

        @*<a href="~/Views/Produto/Cadastrar"> Cadastrar Produto</a>*@
        @* Link em Mvc Razor*@
        @Html.ActionLink("Cadastrar Produto", "CadastrarProduto", "Produto")


        <table class="table table-hover table-striped" style="margin-top: 30px">

            <tr>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Preco</th>
                <th>Categoria</th>
                <th></th>
                <th></th>

            </tr>
            @foreach (Ecommerce.Models.Produto produtoCadastrado in produtos)
            {
                <tr>
                    <td>@produtoCadastrado.Nome</td>
                    <td>@produtoCadastrado.Descricao</td>
                    <td>@produtoCadastrado.Preco</td>
                    <td>@produtoCadastrado.Categoria</td>

                    <td>
                        @Html.ActionLink("Remover", "RemoverProduto", "Produto",
                       new { id = produtoCadastrado.ProdutoId }, null)
                    </td>
                    <td>
                        @Html.ActionLink("Alterar", "AlterarProduto", "Produto",
                       new { id = produtoCadastrado.ProdutoId }, null)
                    </td>

                </tr>
            }


        </table>


       <p> Dados Atualizdos às @data </p> 
    </div>
    

