
@{
    Layout = null;
    DateTime data = ViewBag.Data;
    List<Ecommerce.Models.Produto> produtos = ViewBag.Produtos;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Genciamento de Produtos</title>
</head>
<body>
    <h1> Gerenciamento de Produtos</h1>

   
    @*<a href="~/Views/Produto/Cadastrar"> Cadastrar Produto</a>*@
    @* Link em Mvc Razor*@
    @Html.ActionLink("Cadastrar Produto", "CadastrarProduto","Produto")
    
    <div> 
        <table>
            <tr>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Preco</th>
                <th>Categoria</th>
                 
            </tr>
            @foreach (Ecommerce.Models.Produto produtoCadastrado in produtos)
            {
                <tr>
                    <td>@produtoCadastrado.Nome</td>
                    <td>@produtoCadastrado.Descricao</td>
                    <td>@produtoCadastrado.Preco</td>
                    <td>@produtoCadastrado.Categoria</td>

                    <td>@Html.ActionLink("Remover", "RemoverProduto", "Produto",
                       new { id = produtoCadastrado.ProdutoId }, null)</td>
                    <td>@Html.ActionLink("Alterar", "AlterarProduto", "Produto",
                       new {id = produtoCadastrado.ProdutoId}, null)</td>
                </tr>
            }
            
            
        </table>
       
    </div>
    @data
</body>
</html>
