@using Ecommerce.Models
@using Ecommerce.DAL
@model Venda

@{
    ViewBag.Title = "FinalizarCompra";
    List<ItemVenda> itens = ViewBag.Itens;
}

<h3>Resumo da Compra</h3>
<div style="box-sizing:border-box;-moz-box-sizing: border-box;">
    <div class="jumbotron" style="float:left;width:50%;margin-right:10px">
        @foreach (ItemVenda item in itens)
        {
            <p class="lead"><b>@item.Produto.Nome</b></p>
            <p>@item.Preco.ToString("C2") x @item.Quantidade</p>
            <hr class="my-4" />
            double subtotal = item.Preco * item.Quantidade;
            <b>Subtotal: @subtotal.ToString("C2")</b>
            <hr class="my-4" style="margin-bottom:10px" />
        }
        <p class="lead"><b>Total: @ItemVendaDAO.RetornarTotalCarrinho().ToString("C2")</b></p>
    </div>
    <div>
        @using (Html.BeginForm("FinalizarCompra", "Home",
                    FormMethod.Post,
                    new
                    {
                        @class = "form-horizontal"
                    }))
        {
            <fieldset>
                <legend>Dados Pessoais</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome,
                    new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Nome,
                        new
                        {
                            @class = "form-control",
                            @placeholder = "Nome do cliente"
                        })
                        @Html.ValidationMessageFor(model => model.Nome, null,
                        new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Endereco,
                    new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Endereco,
                        new
                        {
                            @class = "form-control",
                            @placeholder = "Endereço do cliente"
                        })
                        @Html.ValidationMessageFor(model => model.Endereco, null,
                        new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telefone,
                    new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Telefone,
                        new
                        {
                            @class = "form-control",
                            @placeholder = "Telefone do cliente"
                        })
                        @Html.ValidationMessageFor(model => model.Telefone, null,
                        new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Comprar"
                               class="btn btn-primary">
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>